a.knopka {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  padding: .7em 1.5em;
  outline: none;
}
a.knopka:hover { background: rgb(232,95,76); }
a.knopka:active { background: rgb(152,15,0); }
.menu{
  display: flex;
  align-items:center;
  justify-content: center;
}
.img {
  width: 1250px;
  margin: auto;
}
.Pokeman_img{
  visibility: hidden;
  position: absolute;
  opacity: 0;

}
.Phone_img{
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
